.input-checkbox {
  height: 15px !important;
  width: 15px !important; }

.input-radio {
  height: 12px !important;
  width: 12px !important; }

.inventory {
  padding: 60px 0; }
  .inventory .required-field {
    align-items: center; }
  .inventory .list__title {
    text-align: center;
    background-color: #d9534f;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    margin-bottom: 20px; }
    .inventory .list__title h3 {
      margin: 15px 0;
      font-size: 24px;
      font-weight: 500; }
  .inventory .list__filter {
    display: block;
    height: 50px;
    margin-bottom: 20px; }
    .inventory .list__filter input {
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      width: 100%;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 34px;
      color: #555;
      outline: none; }
  .inventory .list__table table {
    width: 100%; }
    .inventory .list__table table thead tr th {
      background-color: #8e1921;
      color: white;
      font-size: 14px;
      font-weight: 500;
      padding: 12px;
      text-align: center; }
    .inventory .list__table table tbody tr td {
      text-align: center;
      color: black;
      font-size: 14px;
      font-weight: 400;
      padding: 8px;
      text-align: center;
      border-bottom: 1px solid #ddd; }
    .inventory .list__table table tbody tr:nth-child(odd) td {
      background-color: #f9f9f9; }
  .inventory .list__actions {
    margin-top: 20px; }
  .inventory .createform__title {
    text-align: center;
    background-color: #d9534f;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    margin-bottom: 50px; }
    .inventory .createform__title h3 {
      margin: 15px 0;
      font-size: 24px;
      font-weight: 500; }
  .inventory .createform__form__header {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    margin: 20px 0 7px 0; }
    .inventory .createform__form__header input {
      margin-bottom: 10px; }
    .inventory .createform__form__header button {
      margin-top: 10px; }
  .inventory .createform__form__inline {
    display: flex;
    margin-bottom: 15px;
    align-items: flex-end; }
  .inventory .createform__form__action:nth-child(n + 2) {
    margin-left: 15px; }
  .inventory .createform__form form .form-control {
    display: flex;
    flex-direction: column;
    flex: 1; }
    .inventory .createform__form form .form-control:nth-child(n+2) {
      margin-left: 15px; }
    .inventory .createform__form form .form-control label {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 5px; }
    .inventory .createform__form form .form-control input {
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42;
      height: 34px;
      color: #555;
      outline: none; }
    .inventory .createform__form form .form-control input[type="text"],
    .inventory .createform__form form .form-control input[type="email"],
    .inventory .createform__form form .form-control input[type="password"] {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
    .inventory .createform__form form .form-control .form-select__control {
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      min-height: 34px;
      height: 34px;
      width: 100%;
      background-color: white; }
      .inventory .createform__form form .form-control .form-select__control .css-rsyb7x {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        color: #555; }
    .inventory .createform__form form .form-control .form-select__value-container {
      padding: 6px 12px;
      height: 34px;
      top: -1px; }
    .inventory .createform__form form .form-control .form-select__single-value {
      font-size: 14px !important;
      line-height: 1.42;
      color: #555; }
    .inventory .createform__form form .form-control .form-select__placeholder {
      font-size: 14px;
      color: #555; }
