@import './../../assets/scss/partials/variables';

.sidebar {
  border-left: 2px solid $sidebar-border-color;
  width: $sidebar-width;
  background-color: $sidebar-bg-color;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  padding-top: $header-height;
  transition: all 0.5s ease;
  overflow-y: auto;

  &--collapsed {
    right: -$sidebar-width;
  }

  &__menu {

    &__list {
      ul {
        margin: 0;
        padding: 0;

        li {
          cursor: pointer;
          font: {
            size: 14px;
            weight: $font-light;
          };
          line-height: 1;
          border-bottom: 1px solid $sidebar-border-color;
          padding: 10px;

          i {
            font: {
              size: 18px;
            };
            margin-right: 5px;
            min-width: 25px;

            &.caret {
              font: {
                size: 12px;
              };
              margin-left: 7px;
            }
          }

          a {
            color: white;
            display: flex;
            align-items: center;
          }

          &.dropdown-list-parent {
            padding-right: 0;
          }
        }
      }
    }
  }
}

.parent-list {
  color: white;
}

ul.dropdown-list-child {
  padding-left: 30px;

  li {
    padding-left: 0;
    padding-right: 0;

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}
